<<<<<<< HEAD


<head>
  <title>homework-one</title>
</head>
<h1>hello UCAS</h1>



     <h1>这是homework1</h1>
     <h2><a href="http://www.ucas.ac.cn/">(1)link to UCAS</a><h2>
       <h1>(2)显示时间</h1>
      <p>
        It is now <%= @time %>.
      </p>
       <h1>(3)按钮点击跳转</h1>
       <p>
         <input name="跳转" type=button onclick="window.open('/articles/goodbye/')">..
       </p>
       <h1>(4)页面跳转</h1>
       <p>
         Say <a href="/articles/goodbye/">GoodBye</a>!
       </p>

       <script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="100" src="http://yscc.xyz/js/canvas-nest.js"></script>
=======
<h1>New Article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
>>>>>>> a43a0724a4175de82bf709f44199ed61e9884264
