<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Testblog</title>
=======
  <title>BlogTwoList</title>
>>>>>>> a43a0724a4175de82bf709f44199ed61e9884264
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
